main.archive {
  .year-link {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 20px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .year-item {
    li {
      border-bottom: $dot-border-style;
      margin-bottom: $mainConts-marginB;

      // &:last-of-type {
      //   margin-bottom: 0;
      // }
    }
  }

  // サイドカテゴリー
  aside {
    a {
      &:hover {
        background: $font-color;
        color: #fff;
      }
    }
  }
  // サイドカテゴリー
}

@media (min-width: 600px) {
  main.archive {
    .year-link {
      justify-content: center;
    }
  }
}