footer {
  background: $theme-color;
  color: #fff;
  padding: 50px 16px;
  
  a {
    color: #fff;
  }

  .logo {
    justify-content: center;
    margin-bottom: $footerConts-marginB;
  }

  p.f-icon {
    font-size: 40px;
    text-align: center;
    margin-bottom: $footerConts-marginB;

    a {
      display: inline-block;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  nav {
    margin-bottom: $footerConts-marginB + 20px;

    ul {
      text-align: center;
  
      li {
        display: inline-block;
        white-space: nowrap;
        padding: 0 16px 16px;
        // line-height: 3;
      }
    }
  }

  p.copyright {
    text-align: center;
  }



  // .container {
  //   display: flex;

  //   & > :first-child {
  //     flex-basis: 30%;
  //   }

  //   & > :last-child {
  //     flex-basis: 70%;
  //   }
  // }
}

@media (min-width: 1320px) {
  footer {
    padding-left: 350px;
    padding-right: 70px;
  }
}