.swiper-container {
  width: 100%;
  height: auto;
  z-index: 0;
  // margin-top: $header-hieght;
  
  .swiper-wrapper {
    
    .swiper-slide {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .mainvisual-title {
        box-sizing: border-box;
        height: 100vh;
        padding: 0 20px 80px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // color: #fff;

        h3 {
          margin: 0 0 8px 0;
          font-weight: bold;
          font-size: 1.3em;
        }

        h2 {
          margin: 0 0 8px 0;
          font-size: 1.5em;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  // ページネーションカスタム

  .swiper-pagination {
    display: flex;
    left: 20px;
    bottom: 30px;
  }

  .swiper-pagination-bullet {
    border-radius: inherit;
    margin-right: 5px!important;
    width: 40px;
    height: 5px;
    background: $theme-color;
    opacity: 0.19;
  }

  .swiper-pagination-bullet-active {
    background: $theme-color;
    opacity: 1;
  }
}